{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
    <h1>Homepage</h1>
    <br>
    <main role="main">
        <div class="jumbotron">
          <div class="col-sm-8 mx-auto">
            <h1>Flask Blog</h1>
            <p>This blog was developed as an introduction to Web development. It was deveoped using the following <a href="https://www.youtube.com/watch?v=3mwFC4SHY-Y">tutorial</a>
            <p>To navigate the blog use the top bar or, or press the button below to go directly to the posts.</p>
            <p>
              <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
            </p>
          </div>
        </div>
      </main>
{% endblock %}