{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}



{% block body %}
<h1>All posts</h1>

    <hr>
    <h2>Create New Blog Post:</h2>
    <form action="/posts" method="POST">

        <label for='title'>Title:</label>
        <input class="form-control" type="text" name='title' id='title' placeholder="Enter Title" aria-label="Title">
        <br>

        <label for='author'>Author:</label>
        <input class="form-control" type="text" name='author' id='author' placeholder="Enter Author" aria-label="Author">
        <br>

        <label for='content'>Post:</label>
         <textarea class="form-control" name='content' id='content' placeholder='Enter Content' aria-label="Content" rows="3"></textarea>
        <br>

        <input type='submit' value='Post'>
    </form>
    <hr>

    {% for post in posts %}
        <br>
        <h2> {{ post.title }} </h2>

         {% if post.author %}
            <small >Written by: {{ post.author }} on {{post.date_posted}}</small>
         {% else %}
            <small>Written by: N/A on {{post.date_posted}}</small>
         {% endif %}
        <br>
        <br>
        <p> {{ post.content }}</p>

        <a class= "btn btn-primary" href='/posts/edit/{{post.id}}'> Edit </a>
        <a class="btn btn-danger" href='/posts/delete/{{post.id}}'> Delete </a>
        <br>
    {% endfor %}

{% endblock %}